@font-face {
  font-family: freightsans;
  src: url(../fonts/FreightSans/freightsans_black-webfont.eot);
  src: url(../fonts/FreightSans/freightsans_black-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/FreightSans/freightsans_black-webfont.woff2) format("woff2"), url(../fonts/FreightSans/freightsans_black-webfont.woff) format("woff"), url(../fonts/FreightSans/freightsans_black-webfont.ttf) format("truetype"), url(../fonts/FreightSans/freightsans_black-webfont.svg#freightsans_blackregular) format("svg");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: freightsans;
  src: url(../fonts/FreightSans/freightsans-bold-webfont.eot);
  src: url(../fonts/FreightSans/freightsans-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/FreightSans/freightsans-bold-webfont.woff2) format("woff2"), url(../fonts/FreightSans/freightsans-bold-webfont.woff) format("woff"), url(../fonts/FreightSans/freightsans-bold-webfont.ttf) format("truetype"), url(../fonts/FreightSans/freightsans-bold-webfont.svg#freightsans_boldregular) format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: freightsans;
  src: url(../fonts/FreightSans/freightsans_book-webfont.eot);
  src: url(../fonts/FreightSans/freightsans_book-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/FreightSans/freightsans_book-webfont.woff2) format("woff2"), url(../fonts/FreightSans/freightsans_book-webfont.woff) format("woff"), url(../fonts/FreightSans/freightsans_book-webfont.ttf) format("truetype"), url(../fonts/FreightSans/freightsans_book-webfont.svg#freightsans_lightregular) format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: freightsans;
  src: url(../fonts/FreightSans/freightsans_medium-webfont.eot);
  src: url(../fonts/FreightSans/freightsans_medium-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/FreightSans/freightsans_medium-webfont.woff2) format("woff2"), url(../fonts/FreightSans/freightsans_medium-webfont.woff) format("woff"), url(../fonts/FreightSans/freightsans_medium-webfont.ttf) format("truetype"), url(../fonts/FreightSans/freightsans_medium-webfont.svg#freightsans_mediumregular) format("svg");
  font-weight: 500;
  font-style: normal; }

/*# sourceMappingURL=fonts.css.map */
