@font-face {
  font-family: freightsans;
  src: url(../fonts/FreightSans/freightsans_black-webfont.eot);
  src: url(../fonts/FreightSans/freightsans_black-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/FreightSans/freightsans_black-webfont.woff2) format("woff2"), url(../fonts/FreightSans/freightsans_black-webfont.woff) format("woff"), url(../fonts/FreightSans/freightsans_black-webfont.ttf) format("truetype"), url(../fonts/FreightSans/freightsans_black-webfont.svg#freightsans_blackregular) format("svg");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: freightsans;
  src: url(../fonts/FreightSans/freightsans-bold-webfont.eot);
  src: url(../fonts/FreightSans/freightsans-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/FreightSans/freightsans-bold-webfont.woff2) format("woff2"), url(../fonts/FreightSans/freightsans-bold-webfont.woff) format("woff"), url(../fonts/FreightSans/freightsans-bold-webfont.ttf) format("truetype"), url(../fonts/FreightSans/freightsans-bold-webfont.svg#freightsans_boldregular) format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: freightsans;
  src: url(../fonts/FreightSans/freightsans_book-webfont.eot);
  src: url(../fonts/FreightSans/freightsans_book-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/FreightSans/freightsans_book-webfont.woff2) format("woff2"), url(../fonts/FreightSans/freightsans_book-webfont.woff) format("woff"), url(../fonts/FreightSans/freightsans_book-webfont.ttf) format("truetype"), url(../fonts/FreightSans/freightsans_book-webfont.svg#freightsans_lightregular) format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: freightsans;
  src: url(../fonts/FreightSans/freightsans_medium-webfont.eot);
  src: url(../fonts/FreightSans/freightsans_medium-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/FreightSans/freightsans_medium-webfont.woff2) format("woff2"), url(../fonts/FreightSans/freightsans_medium-webfont.woff) format("woff"), url(../fonts/FreightSans/freightsans_medium-webfont.ttf) format("truetype"), url(../fonts/FreightSans/freightsans_medium-webfont.svg#freightsans_mediumregular) format("svg");
  font-weight: 500;
  font-style: normal; }
body {
  font-family: freightsans, 'Open sans', Helvetica, Arial, sans-serif;
  font-size: 16px; }

h1 {
  font-weight: bold; }

.delay-3s {
  -webkit-animation-delay: 0.3s;
  /* Chrome, Safari, Opera */
  animation-delay: 0.3s; }

.delay-6s {
  -webkit-animation-delay: 0.6s;
  /* Chrome, Safari, Opera */
  animation-delay: 0.6s; }

.delay-9s {
  -webkit-animation-delay: 0.9s;
  /* Chrome, Safari, Opera */
  animation-delay: 0.9s; }

header {
  border-bottom: 3px solid #165aaa;
  padding: 15px 0;
  min-height: 80px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  header .hamburger {
    width: 30px;
    display: inline-block;
    margin-bottom: -11px;
    margin-right: 10px;
    cursor: pointer; }
    header .hamburger .bar {
      height: 3px;
      margin-bottom: 4px;
      background-color: #165aaa;
      width: 100%;
      border-radius: 8px;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      header .hamburger .bar.middle {
        opacity: 1; }
    header .hamburger a, header .hamburger a:hover, header .hamburger a:active, header .hamburger a:visited {
      text-decoration: none; }
    header .hamburger.open .middle {
      opacity: 0; }
    header .hamburger.open .top {
      transform: rotate(40deg);
      margin-top: -17px;
      height: 5px; }
    header .hamburger.open .bottom {
      transform: rotate(-40deg);
      margin-top: -16px;
      height: 5px; }
  header #logo {
    display: inline-block; }
    header #logo img {
      height: 45px; }
  header .nav {
    float: right; }
  header .admin {
    padding: 2px 10px;
    color: white;
    margin-left: 20px; }
  header a.nav-item {
    color: #444;
    padding: 12px;
    display: inline-block;
    font-weight: 500; }

#hero {
  height: 470px;
  position: relative;
  overflow: hidden;
  background: #2c2b2f;
  background: -moz-linear-gradient(-45deg, #232e43 0%, #2c2b2f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #232e43 0%, #2c2b2f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #232e43 0%, #2c2b2f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232e43', endColorstr='#2c2b2f',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  #hero .blurp {
    color: #619f1f;
    font-size: 42px;
    margin-top: 90px;
    line-height: 1.2;
    margin-bottom: 15px;
    font-weight: 500; }
  #hero .lead {
    color: white;
    font-weight: 400;
    font-size: 27px; }
  #hero .buttons {
    margin-top: 90px;
    font-size: 18px;
    font-weight: 500; }
  #hero #right {
    text-align: center; }
    #hero #right img {
      height: 500px; }

.button {
  background-color: #165aaa;
  color: white;
  padding: 15px 20px;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .button:hover {
    color: #fff;
    background-color: #5380c1;
    text-decoration: none;
    box-shadow: 0px 20px 45px rgba(0, 0, 0, 0.15); }
  .button.no-border {
    background-color: transparent;
    text-decoration: underline; }
    .button.no-border:hover {
      box-shadow: none;
      color: #aaa;
      background-color: transparent; }
  .button.big {
    padding: 21px 30px;
    font-size: 21px; }

#recents {
  padding: 45px 0 60px 0; }
  #recents h3 {
    margin-bottom: 45px;
    font-size: 32px; }
  #recents .more {
    margin-top: 20px;
    text-align: center;
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: 500; }
  #recents th {
    color: #5380c1;
    font-weight: 500; }
    #recents th.text-green2 {
      color: #8bb85d; }
  #recents td .email {
    color: #5380c1 !important;
    text-decoration: underline;
    font-weight: 600;
    font-size: 18px; }
  #recents td .small {
    color: #aaa; }
  #recents .table-striped tbody tr:nth-child(odd) {
    background-color: #fafafa; }
  #recents .table-striped tbody td:first-child {
    font-weight: 500; }
    #recents .table-striped tbody td:first-child a {
      color: #222; }

.form-label {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px; }

small.hint {
  color: #999;
  font-style: italic; }

#hiw {
  padding: 30px 0; }
  #hiw h3 {
    margin-bottom: 45px; }
  #hiw h4 {
    margin-bottom: 20px;
    line-height: 1.4;
    font-size: bold; }
  #hiw li {
    margin-bottom: 10px;
    color: #444; }
  #hiw ._footnote {
    margin-top: 30px;
    margin-bottom: 45px;
    color: #444;
    font-style: italic;
    font-weight: bold; }

#list-request {
  padding: 30px 0  60px 0; }
  #list-request h3 {
    margin-bottom: 45px; }
  #list-request .tips {
    background-color: #e8e8fc;
    color: #555;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #8bb85d; }
  #list-request form .form-group .col-sm-3 {
    color: #999; }

.side .form-group {
  margin-bottom: 15px; }
  .side .form-group .col-sm-5 {
    color: #999; }

#terms-and-conditions {
  padding: 45px 0;
  text-align: justify; }
  #terms-and-conditions p {
    margin-bottom: 15px;
    line-height: 1.6; }
  #terms-and-conditions h4 {
    margin-top: 30px;
    font-weight: bold; }
  #terms-and-conditions h5 {
    font-weight: bold; }

#dashboard-select {
  padding: 30px 0;
  line-height: 1.6; }
  #dashboard-select h3 {
    margin-bottom: 45px; }
  #dashboard-select .m-row {
    margin-bottom: 7px; }
  #dashboard-select .bordered {
    border: 1px solid;
    padding: 45px 30px;
    border-radius: 3px; }
    #dashboard-select .bordered.border-blue2 {
      border-color: #5380c1; }
    #dashboard-select .bordered.border-green2 {
      border-color: #8bb85d; }
    #dashboard-select .bordered .col-sm-3 {
      color: #999; }
    #dashboard-select .bordered.alt {
      padding: 25px 30px;
      border-radius: 3px;
      color: white;
      border: none; }
      #dashboard-select .bordered.alt .col-sm-3 {
        color: #ddd; }
    #dashboard-select .bordered.smaller {
      padding: 25px 30px; }

.f-w-r {
  font-weight: 400; }

.b-r {
  border-right: 1px solid #999; }

.border-blue2 {
  border-color: #5380c1; }

.border-green2 {
  border-color: #8bb85d; }

.p-r-xs {
  padding-right: 7px; }

.p-l-xs {
  padding-left: 7px; }

.m-r-xs {
  margin-right: 7px; }

.m-l-xs {
  margin-left: 7px; }

.m-b-lg {
  margin-bottom: 45px; }

.m-t-lg {
  margin-top: 45px; }

.m-b-md {
  margin-bottom: 30px; }

.m-t-md {
  margin-top: 30px; }

.m-t-xs {
  margin-top: 7px; }

.text-blue {
  color: #165aaa; }

.text-blue2 {
  color: #5380c1; }

.text-green {
  color: #619f1f; }

.text-green2 {
  color: #8bb85d; }

.blue {
  background-color: #165aaa; }

.blue2 {
  background-color: #5380c1; }

.green {
  background-color: #619f1f; }

.green2 {
  background-color: #8bb85d; }

@media screen and (max-width: 769px) {
  #hero {
    height: auto; }
    #hero .blurp {
      font-size: 30px; }
    #hero .lead {
      font-size: 21px; }
    #hero .buttons {
      margin-bottom: 45px; }
      #hero .buttons .button.big {
        font-size: 18px; } }
@media screen and (max-width: 529px) {
  #hero {
    height: auto;
    padding-bottom: 45px; }
    #hero .button {
      display: block;
      text-align: center; }

  form {
    margin-bottom: 30px; }

  .p-r-xs {
    padding-right: 15px;
    padding-bottom: 15px; }

  .p-l-xs {
    padding-left: 15px; }

  .b-r {
    border-right: none;
    border-bottom: 1px solid #999; }

  #hiw .button {
    margin-bottom: 45px;
    display: block; }

  .xs-m-t-md {
    margin-top: 30px; }

  .xs-m-t-xs {
    margin-top: 7px; }

  #terms-and-conditions {
    text-align: left; }

  .nav {
    display: block;
    width: 100%;
    text-align: center;
    float: center;
    margin-top: 20px; }
    .nav .nav-item {
      display: block;
      text-align: center; } }

/*# sourceMappingURL=style.css.map */
