
$blue: #165aaa;
$blue2: #5380c1;
$green: #619f1f;
$green2: #8bb85d;

@import 'fonts';
@import 'mixins';

body{
	font-family: freightsans, 'Open sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
}

h1{
	font-weight: bold;
}

@mixin delay($delay){
	-webkit-animation-delay: $delay; /* Chrome, Safari, Opera */
	    animation-delay: $delay;
}


@for $i from 1 through 3{
	.delay-#{$i*3}s{
		@include delay($i * .3s);
	}
}

header{
	border-bottom: 3px solid $blue;
	padding: 15px 0;
	min-height: 80px; 
	@include transition(all 0.3s);

	.hamburger{
		width: 30px;
		display: inline-block;
		margin-bottom: -11px;	
		margin-right: 10px;
		cursor: pointer;

		.bar{
			height: 3px;
			margin-bottom: 4px;
			background-color: $blue;
			width: 100%;
			border-radius: 8px;
			@include transition(all 0.3s);

			&.middle{
				opacity: 1;
			}
		} 

		a, a:hover, a:active, a:visited {
			text-decoration: none;
		}

		&.open{

			.middle{
				opacity: 0;
			}

			.top{
				transform: rotate(40deg);
				margin-top: -17px;
				height: 5px;
			}

			.bottom{
				transform: rotate(-40deg);
				margin-top: -16px;
				height: 5px;
			}
		}
	}

	#logo{
		display: inline-block;
		
		img{
			height: 45px;
		}
	}

	.nav{
		float: right;
	}

	.admin{
		padding: 2px 10px;
		color: white;
		margin-left: 20px;
	}

	a.nav-item{
		color: #444;
		padding: 12px;
		display: inline-block;
		font-weight: 500;
	}
}

#hero{
	height: 470px;
	position: relative;
	
	overflow: hidden;

	background: #2c2b2f; 
	background: -moz-linear-gradient(-45deg,  #232e43 0%, #2c2b2f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #232e43 0%,#2c2b2f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #232e43 0%,#2c2b2f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232e43', endColorstr='#2c2b2f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


	.blurp{
		color: $green;
		font-size: 42px;
		margin-top: 90px;
		line-height: 1.2;
		margin-bottom: 15px;
		font-weight: 500;
	}

	.lead{
		color: white;
		font-weight: 400;
		font-size: 27px;
	}

	.buttons{
		margin-top: 90px;
		font-size: 18px;
		font-weight: 500;	
	}

	#right {
		text-align: center;

		img{
			height: 500px;
		}
	}
}

.button{
	background-color: $blue;
	color: white;
	padding: 15px 20px;
	border-radius: 3px;
	text-decoration: none;
	border: none;
	@include transition(all 0.3s);

	&:hover{
		color: #fff;
		background-color: $blue2;
		text-decoration: none;
		box-shadow: 0px 20px 45px rgba(0, 0, 0, 0.15);
	}

	&.no-border{
		background-color: rgba(0, 0, 0, 0);
		text-decoration: underline;

		&:hover{
			box-shadow: none;
			color: #aaa;
			background-color: transparent;
		}
	}

	&.big{
		padding: 21px 30px;
		font-size: 21px;
	}
}

#recents{
	padding: 45px 0 60px 0;


	h3{
		margin-bottom: 45px;
		font-size: 32px;
	}

	.more{
		margin-top: 20px;
		text-align: center;
		font-size: 21px;
		letter-spacing: 1px;
		font-weight: 500;
	}

	th{
		color: $blue2;
		font-weight: 500;

		&.text-green2{
			color: $green2;
		}
	}

	td .email{
		color: $blue2 !important;
		text-decoration: underline;
		font-weight: 600;
		font-size: 18px;
	}

	td .small{
		color: #aaa;
	}

	.table-striped tbody 
		{ 
			tr:nth-child(odd){
			background-color: #fafafa;
		}

		td:first-child{
			font-weight: 500;
			a{ 
				color: #222;
			}
		}
	}
}



.form-label{
	display: inline-block;
	vertical-align: middle;
	font-size: 13px; 
}

small.hint{
	color: #999;
	font-style: italic;
}

#hiw{
	padding: 30px 0;

	h3{
		margin-bottom: 45px;
	}

	h4{
		margin-bottom: 20px;
		line-height: 1.4;
		font-size: bold;
	}

	li{
		margin-bottom: 10px;
		color: #444;
	}

	._footnote{
		margin-top: 30px;
		margin-bottom: 45px;
		color: #444;
		font-style: italic;
		font-weight: bold;
	}
}

#list-request{
	padding: 30px 0  60px 0;

	h3{
		margin-bottom: 45px;
	}

	.tips{
		background-color: #e8e8fc;
		color: #555;
		padding: 15px;
		border-radius: 3px;
		border: 1px solid $green2;
	}

	form .form-group .col-sm-3{
		color: #999;
	}
}

.side .form-group{

	.col-sm-5{
		color: #999;
	}

	margin-bottom: 15px;
}

#terms-and-conditions{
	padding: 45px 0;
	text-align: justify;

	p{
		margin-bottom: 15px;
		line-height: 1.6;
	}

	h4{
		margin-top: 30px;
		font-weight: bold;
	}

	h5{
		font-weight: bold;
	}
}
#dashboard-select{
	padding: 30px 0;
	line-height: 1.6;

	h3{
		margin-bottom: 45px;
	}

	.m-row{
		margin-bottom: 7px;	
	}

	.bordered{
		border: 1px solid;
		padding: 45px 30px;
		border-radius: 3px;

		&.border-blue2{
			border-color: $blue2;
		}

		&.border-green2{
			border-color: $green2;
		}

		.col-sm-3{
			color: #999;
		}

		&.alt{
			padding: 25px 30px;
			border-radius: 3px;
			color: white;
			border: none;

			.col-sm-3{
				color: #ddd;
			}
		}

		&.smaller{
			padding: 25px 30px;
		}
	}
}

@import 'utils';

@media screen and (max-width: 769px){

	#hero{
		height: auto;

		.blurp{
			font-size: 30px;
		}

		.lead{
			font-size: 21px;
		}

		.buttons{
			margin-bottom: 45px;

			.button.big{
				font-size: 18px;
			}
		}
	}
}

@media screen and (max-width: 529px){
	#hero{
		height: auto;
		padding-bottom: 45px;

		.button{
			display: block;
			text-align: center;
		}
	}

	form{
		margin-bottom: 30px;
	}

	.p-r-xs{
		padding-right: 15px;
		padding-bottom: 15px;
	}

	.p-l-xs{
		padding-left: 15px;
	}

	.b-r{
		border-right: none;
		border-bottom: 1px solid #999;
	}

	#hiw .button{
		margin-bottom: 45px;
		display: block;
	}

	.xs-m-t-md{
		margin-top: 30px;
	}

	.xs-m-t-xs{
		margin-top: 7px;
	}

	#terms-and-conditions{
		text-align: left;
	}

	.nav{
		display: block;
		width: 100%;
		text-align: center;
		float: center;
		margin-top: 20px;

		.nav-item{
			display: block;
			text-align: center;
		}
	}
}



