.f-w-r{
	font-weight: 400;
}

.b-r{
	border-right: 1px solid #999;
}

.border-blue2{
	border-color: $blue2;
}

.border-green2{
	border-color: $green2;
}

.p-r-xs{
	padding-right: 7px;
}

.p-l-xs{
	padding-left: 7px;
}

.m-r-xs{
	margin-right: 7px;
}

.m-l-xs{
	margin-left: 7px;
}

.m-b-lg{
	margin-bottom: 45px;
}

.m-t-lg{
	margin-top: 45px;
}

.m-b-md{
	margin-bottom: 30px;
}

.m-t-md{
	margin-top: 30px;
}

.m-t-xs{
	margin-top: 7px;
}

.text-blue {
	color: $blue;
}

.text-blue2{
	color: $blue2;
}

.text-green{
	color: $green;
}

.text-green2{
	color: $green2;
}

.blue{
	background-color: $blue;
}

.blue2{
	background-color: $blue2;
}

.green{
	background-color: $green;
}

.green2{
	background-color: $green2;
}